<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
<<<<<<< Updated upstream
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
=======
    <%= link_to "logo.png", root_path, class: "navbar__brand navbar__mainLogo" %>
>>>>>>> Stashed changes
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <li>
          <%= link_to "投稿", "#", class: "btn btn-primary" %>
        </li>
        <li>
<<<<<<< Updated upstream
          <%= link_to "", "#", class: "nav-link commonNavIcon profile-icon" %>
=======
          <%= link_to "parts4.logo", "#", class: "nav-link commonNavIcon profile-icon" %>
>>>>>>> Stashed changes
        </li>
      </ul>
    </div>
  </div>
</nav>
