<!DOCTYPE html>
<html>
  <head>
    <title>レシピ共有サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <nav> %>
    <%# <%= render 'partial/navbar' %>
    <%# </nav> %>
    <%= render 'shared/header' %>
        <%= yield %>
        <p id="test">テスト</p>
    <p class="hoge">テスト</p>
  </body>
</html>


